- set_meta_tags title: @party.name, canonical: store_party_url(@store.pkey, @party),
  description: "株式会社オルブルが運営するDartsBarRailly(ダーツバーレイリー)のパーティプラン、「#{@party.name}」について掲載しています。#{@party.lead}さらに会員登録することでお得にパーティをご利用いただけます。"

.row
  .col-1
  .col
    %h1= @party.name
    .row
      .col
        %p= bbr @party.lead
        %h2.f20 プラン内容
        %p= bbr @party.content

    = link_to "予約する", new_inquiry_path(concern: 4), class: 'btn btn-primary'
