- set_meta_tags title: @party.name, canonical: party_url(@party),
  description: "株式会社オルブルが運営するDartsBarRailly(ダーツバーレイリー)のパーティープラン、「#{@party.name}」について掲載しています。#{@party.lead}さらに会員登録することでお得にパーティーをご利用いただけます。"

.row
  .col-md-2
  .col-md-8
    %h1= @party.name
    .row
      .col-xs-12
        %p= bbr @party.lead
        %h2.f20 プラン内容
        %p= bbr @party.content

    = link_to "予約する", new_inquiry_path(concern: 4), class: 'btn btn-primary'
