
.row
  .offset-sm-2
  .col.col-sm-8
    %h1= @organization.name

    %section.mt30
      %h2.f18
        勤務地一覧
        = link_to '新規登録', new_intra_organization_workplace_path(@organization), class: 'btn-sm btn-info'
      .row
        .col-12
          - @workplaces.each do |workplace|
            .row.no-gutters.align-items-center.border-bottom.mt10.pb10
              .col
                - if workplace.enable?
                  %span(style="color: #00ff00;") ●
                - else
                  %span(style="color: #aaaaaa;") ●
                = workplace.name
              .col-4.col-md-2
                = link_to '勤務者一覧', intra_workplace_staffs_path(workplace), class: "btn btn-success"
              .col-4.col-md-2
                = link_to '打刻ページ', intra_workplace_stamper_path(workplace), class: "btn btn-success"

    %section.mt30
      %h2.f18
        スタッフ一覧
        = link_to '新規登録', new_intra_organization_staff_path(@organization), class: 'btn-sm btn-info'


      .row.no-gutters.border-bottom.pb10
        .col-2.col-md-2
          = Staff.human_attribute_name :code
        .col
          = Staff.human_attribute_name :name
        .col-5

      - @staffs.each do |staff|
        .row.no-gutters.align-items-center.border-bottom.mt10.pb10
          .col-2.col-md-2
            = staff.code
          .col
            %ruby
              %rb
                #{staff.last_name}
              %rt
                #{staff.last_kana}
            %ruby
              %rb
                #{staff.first_name}
              %rt
                #{staff.first_kana}
            %span.f10
              = link_to "編集", edit_intra_organization_staff_path(@organization, staff)
          .col-4.col-lg-2
            = link_to '勤務実績', intra_organization_staff_stamps_path(@organization, staff), class: "btn btn-info"
