
.row
  .offset-sm-2
  .col.col-sm-8
    %h1= @organization.name

    %section.mt30
      %h2.f16 店舗一覧
      - if false
        = link_to '店舗登録', new_intra_organization_store_path(@organization), class: 'btn btn-info'
      .row
        .col-12
          - @stores.each do |store|
            .row.no-gutters.align-items-center.border-bottom.mt10.pb10
              .col
                = store.name
              - if false
                .col-4.col-md-2
                  = link_to '店舗スタッフ一覧', intra_store_staffs_path(store), class: "btn btn-success"
              .col-4.col-md-2
                = link_to '打刻ページ', intra_store_stamper_path(store), class: "btn btn-success"

    %section.mt30
      %h2.f16
        スタッフ一覧
        = link_to 'スタッフ登録', new_intra_organization_staff_path(@organization), class: 'btn-sm btn-info'


      .row.no-gutters.border-bottom.pb10
        .col-2.col-md-2
          = Staff.human_attribute_name :code
        .col
          = Staff.human_attribute_name :name
        .col-5

      - @staffs.each do |staff|
        .row.no-gutters.align-items-center.border-bottom.mt10.pb10
          .col-2.col-md-2
            = staff.code
          .col
            %ruby
              %rb
                #{staff.last_name}
              %rt
                #{staff.last_kana}
            %ruby
              %rb
                #{staff.first_name}
              %rt
                #{staff.first_kana}
          .col-4.col-lg-2
            = link_to '勤務実績', intra_staff_stamps_path(staff), class: "btn btn-info"
