
.col-md-2

.col-md-8
  %h1= t("Editing profile")

  = nested_form_for @profile, url: profile_path do |f|
    - if @profile.errors.any?
      #error_explanation
        %h2= "#{pluralize(@profile.errors.count, "error")} "
        %ul
          - @profile.errors.full_messages.each do |msg|
            %li= msg
    .row
      .col-md-6
        .form-group
          = f.label :nickname, class: "require"
          = f.text_field :nickname, class: "form-control"
      .col-md-6
        .form-group
          = f.label :gender
          %br
          = f.radio_button :gender, Gender::MALE
          = f.label "gender_#{Gender::MALE}", gender2str(Gender::MALE)
          %span.mr10
          = f.radio_button :gender, Gender::FEMALE
          = f.label "gender_#{Gender::FEMALE}", gender2str(Gender::FEMALE)
          %span.mr10
          = f.radio_button :gender, Gender::OTHER
          = f.label "gender_#{Gender::OTHER}", gender2str(Gender::OTHER)
    .row
      .col-md-6
        .form-group
          = f.label :lastname, class: "private"
          = f.text_field :lastname, class: "form-control"
      .col-md-6
        .form-group
          = f.label :firstname, class: "private"
          = f.text_field :firstname, class: "form-control"
    .row
      .col-md-6
        .form-group
          = f.label :birthday, class: "private"
          = f.date_field :birthday, class: "form-control"
    .row
      .col-md-6
        .form-group
          = f.label :blood, class: "private"
          %br
          = f.radio_button :blood, Blood::A
          = f.label "blood_#{Blood::A}", blood2str(Blood::A)
          %span.mr10
          = f.radio_button :blood, Blood::B
          = f.label "blood_#{Blood::B}", blood2str(Blood::B)
          %span.mr10
          = f.radio_button :blood, Blood::O
          = f.label "blood_#{Blood::O}", blood2str(Blood::O)
          %span.mr10
          = f.radio_button :blood, Blood::AB
          = f.label "blood_#{Blood::B}", blood2str(Blood::AB)

    .actions.mt20
      = f.submit class: "btn btn-primary"

  %p.mt20
    = link_to t('Back'), profile_path
