- set_meta_tags title: "#{@profile.nickname}さんのページ"

.col-md-2

.col-md-8
  %h1 マイページ
  .text-right
    = link_to "編集", edit_profile_path, class: 'btn btn-primary'

  %p
    %b Nickname:
    = @profile.nickname
  %p
    %b Firstname:
    = @profile.firstname
  %p
    %b Lastname:
    = @profile.lastname
  %p
    %b Gender:
    = gender2str @profile.gender
  %p
    %b Birthday:
    - if @profile.birthday?
      =l @profile.birthday

  %h2 経歴
  - @backgrounds.each do |background|
    %p
      %b Type:
      = background2str(background.background_type)
    %p
      %b Joined On:
      =l background.joined_on

    %p
      %b Site:
      = background.site

  %h2 保有資格・免許
  - @qualifications.each do |qualification|
    %p
      %b Issued On:
      =l qualification.issued_on

    %p
      %b tile:
      = qualification.title
    %p
      %b outline:
      = qualification.outline
