- set_meta_tags title: "#{@menu.name} - メニュー", canonical: menu_url(@menu),
  description: "#{@store.name}のメニュー「#{@menu.name}」について掲載しています。#{@menu.name}は#{@menu.content}"

%h1.f40= @menu.name

%p
  = @menu.content_md.html_safe
