.mb10
  = link_to 'ブログ', cms_blogs_path
.mb10
  = link_to 'トピックス', cms_topics_path
.mb10
  = link_to '求人情報', cms_recruits_path
.mb10
  = link_to '登録者一覧', cms_accounts_path
.mb10
  = link_to '園児マスタ', cms_children_path
.mb10
  = link_to '組織マスタ', cms_organizations_path
.mb10
  = link_to '施設マスタ', cms_places_path
.mb10
  = link_to '利用登録', cms_usage_records_path
