%h1= @blog.title

%p.mb0
  投稿日
  = l @blog.publish_at
.t-right
  .fb-like(style="margin-left: 10px;" data-href="#{request.url}" data-layout="button_count" data-action="recommend" data-show-faces="false")

%article.mt10
  = @blog.body_md.html_safe

.fb-like(data-href="#{request.url}" data-layout="button_count" data-action="recommend" data-show-faces="false")
