= form_for [:cms,@usage_record] do |f|
  - if @usage_record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@usage_record.errors.count, "error")} prohibited this cms_usage_record from being saved:"
      %ul
        - @usage_record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :month
    = f.collection_select :month_id, month_options, :id, :ym, {}, {class: "form-control"}
  .field
    = f.label :place
    = f.collection_select :place_id, Place.all, :id, :name, {}, {class: "form-control"}
  - @children.each do |child|
    .field
      %label
        = f.check_box :child_id, {multiple: true, include_hidden: false}, child.id
        = child.place.name
        = child.no
        = child.full_name
  .actions
    = f.submit 'Save', class: "btn btn-primary"
