%p
  %b 氏名:
  = @account.lastname
  = @account.firstname
%p
  %b Email:
  = @account.email
%p
  %b nickname:
  = @account.nickname
%p
  %b 性別:
  = gender2str @account.gender
%p
  %b 血液型:
  = blood2str @account.blood
%p
  %b 最新ログイン日時:
  =l @account.current_sign_in_at if @account.current_sign_in_at
  ( #{@account.current_sign_in_ip} )
%p
  %b 前回ログイン日時:
  =l @account.last_sign_in_at if @account.last_sign_in_at
  ( #{@account.last_sign_in_ip} )
%p
  %b Email確認メール送信日時:
  =l @account.confirmation_sent_at if @account.confirmation_sent_at
%p
  %b Email確認日時:
  =l @account.confirmed_at if @account.confirmed_at
%p
  %b 未確認Email:
  = @account.unconfirmed_email

%p
  %b 登録日:
  =l @account.created_at
%p
  %b 更新日:
  =l @account.updated_at


%h2.mt35.f18 エントリー履歴
- @account.entries.each do |entry|
  .row.mt10
    .col-xs-2.t-center
      =l entry.created_at
    .col-xs-4
      = link_to entry.recruit.title, entry.recruit
    .col-xs-4
      = entry.comment

%h2.mt35.f18 OAuth連携
- @account.oauths.each do |oauth|
  .row.mt10
    .col-xs-2.t-center
      =l oauth.created_at
    .col-xs-4
      = oauth.provider
