- add_breadcrumb 'Log in', nil
- set_meta_tags title: "#{@place.name}へログイン", description: "#{@place.name}へログインするページです。", noindex: true

.col-md-2
.col-md-8
  %h1= t"Log in"
  .mt30.mb20
  = form_tag(place_session_path(@place), method: :post) do
    .form-group
      = label_tag "code"
      = text_field_tag :code, "", :autofocus => true, class: 'form-control', placeholder: 'CODEを入力してください'
    %p= submit_tag t("Log in"), class: 'btn btn-primary'


