- set_meta_tags title: @topic.title

%h1.f22= @topic.title

.col-md-8
  %p.t-right
    =l @topic.publish_at.to_date, format: :topic

  - if @topic.carousel_img.present?
    .mb15
      = image_tag @topic.carousel_img, width: "100%"

  %p
    = @topic.body.html_safe

.col-md-4
  %h3.f22.pa10.pb0
    最新のトピックス
  %div.mb10(style="border-bottom: 2px solid #cec")
  %table.table
    - @topics.each do |topic|
      %tr
        %td.pa15.pl20
          %span.f11= l topic.publish_at.to_date, format: :topic
          = link_to topic.title, topic
