= form_for [:cms,@party] do |f|
  - if @party.errors.any?
    #error_explanation
      %h2= "#{pluralize(@party.errors.count, "error")} prohibited this party from being saved:"
      %ul
        - @party.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.check_box :enable
    = f.label :enable
  .field
    = f.label :name
    = f.text_field :name, class: "form-control"
  .field
    = f.label :content
    = f.text_area :content, class: "form-control", rows: 20
  .actions
    = f.submit 'Save', class: "btn btn-primary"
