%h1 Listing recruits

%table.table
  %thead
    %tr
      %th= Recruit.human_attribute_name :enable
      %th= Recruit.human_attribute_name :title
      %th= Recruit.human_attribute_name :job_content
      %th= Recruit.human_attribute_name :qualification
      %th= Recruit.human_attribute_name :compensation
      %th= Recruit.human_attribute_name :working_place
      %th= Recruit.human_attribute_name :position
      %th{colspan: 3}

  %tbody
    - @recruits.each do |recruit|
      %tr
        %td= recruit.enable
        %td= recruit.title
        %td= recruit.job_content
        %td= recruit.qualification
        %td= recruit.compensation
        %td= recruit.working_place
        %td= recruit.position
        %td
          = link_to 'Show', [:cms,recruit], class: 'btn btn-info'
          = link_to 'Edit', edit_cms_recruit_path(recruit), class: 'btn btn-warning'
          = link_to 'Destroy', [:cms,recruit], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Recruit', new_cms_recruit_path
