%p
  %b #{Staff.human_attribute_name(:code)}:
  = @staff.code
%p
  %b #{Staff.human_attribute_name(:last_name)}:
  = @staff.last_name
%p
  %b #{Staff.human_attribute_name(:first_name)}:
  = @staff.first_name
%p
  %b #{Staff.human_attribute_name(:last_kana)}:
  = @staff.last_kana
%p
  %b #{Staff.human_attribute_name(:first_kana)}:
  = @staff.first_kana

= link_to 'Edit', edit_intra_staff_path(@staff)
\|
= link_to 'Back', intra_staffs_path
