= form_for [:cms,@place] do |f|
  - if @place.errors.any?
    #error_explanation
      %h2= "#{pluralize(@place.errors.count, "error")} prohibited this place from being saved:"
      %ul
        - @place.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.check_box :enable
    = f.label :enable
  .form-group
    = f.label :organization_id
    .select-box= f.collection_select :organization_id, Organization.all, :id, :name, class: "form-control"
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :key
    = f.text_field :key, class: "form-control"
  .form-group
    = f.label :address
    = f.text_field :address, class: "form-control"
  .form-group
    = f.label :tel
    = f.text_field :tel, class: "form-control"
  .form-group
    = f.label :fax
    = f.text_field :fax, class: "form-control"
  .form-group
    = f.label :message
    = f.text_area :message, class: "form-control"

  .form-group
    = f.label :captain_name
    = f.text_field :captain_name, class: "form-control"
  .form-group
    = f.label :captain_message_title
    = f.text_field :captain_message_title, class: "form-control"
  .form-group
    = f.label :captain_message
    = f.text_area :captain_message, class: "form-control"
  .form-group
    = f.label :captain_thumbnail
    = f.file_field :captain_thumbnail, class: "form-control"

  .form-group
    = f.label :let
    = f.text_field :let, class: "form-control"
  .form-group
    = f.label :lng
    = f.text_field :lng, class: "form-control"
  .form-group
    = f.label :gmap_url
    = f.text_field :gmap_url, class: "form-control"

  .form-group
    = f.label :position
    = f.text_field :position, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-primary"
