%h1 Listing places

%table.table
  %thead
    %tr
      %th Organization
      %th Name
      %th Address
      %th Tel
      %th Fax
      %th
      %th
      %th

  %tbody
    - @places.each do |place|
      %tr
        %td= place.organization&.name
        %td= place.name
        %td= place.address
        %td= place.tel
        %td= place.fax
        %td= link_to 'Show', [:cms,place]
        %td= link_to 'Edit', edit_cms_place_path(place)
        %td= link_to 'Destroy', [:cms,place], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Place', new_cms_place_path
