%p#notice= notice

%p
  %b Organization:
  = @place.organization&.name
%p
  %b Name:
  = @place.name
%p
  %b Address:
  = @place.address
%p
  %b Tel:
  = @place.tel
%p
  %b Fax:
  = @place.fax
%p
  %b Message:
  = @place.message
%p
  %b CaptainName:
  = @place.captain_name
%p
  %b CaptainMessageTitle:
  = @place.captain_message_title
%p
  %b CaptainMessage:
  = @place.captain_message
%p
  %b CaptainThumbnail:
  = image_tag @place.captain_thumbnail&.url||"", size: "280x280"

%p
  %b Let:
  = @place.let
%p
  %b Lng:
  = @place.lng
%p
  %b Gmap url:
  = @place.gmap_url

%p
  %b Position:
  = @place.position

= link_to 'Edit', edit_cms_place_path(@place)
\|
= link_to 'Back', cms_places_path
