- set_meta_tags site: "Darts Bar Railly | 赤坂・溜池山王でダーツするならダーツバーレイリー", canonical: root_url,
  description: "赤坂駅徒歩2分のDarts Bar Railly(レイリー)。営業時間18:00〜29:00,DARTSLIVE2EXが3台,TouchLive1台,バーメイト1台!赤坂、溜池山王でダーツならRailly(レイリー)!会員登録することでお得にご利用いただけます。",
  og: {description: "赤坂駅徒歩2分のDarts Bar Railly(レイリー)。営業時間18:00〜29:00,DARTSLIVE2EXが3台,TouchLive1台,バーメイト1台!赤坂、溜池山王でダーツならRailly(レイリー)!会員登録することでお得にご利用いただけます。"},
  keywords: "赤坂,ダーツバー,Railly,レイリー,溜池山王,貸切,パーティ,投げ放題,ウィスキー,二次会,三次会"

- content_for(:jsonld) do
  = jsonld_script_tag

.eye-catch.mb20
  .text-center.pt80.c-white
    %h1.mt0.mb40
      %ruby
        %rb.f50 Darts
        %rt.f14 ダーツ
      %ruby
        %rb.f50 Bar
        %rt.f14 バー
      %ruby
        %rb.f50 Railly
        %rt.f14 レイリー
    %p.lead
      ダーツするならレイリーで

.row
  .col-md-2
    .panel.panel-default
      .panel-body
        = image_tag "thema.jpg", class: 'img-responsive img-rounded', alt: ''
  .col-md-2
    .panel.panel-default
      .panel-body
        = image_tag "drink.jpg", class: 'img-responsive img-rounded', alt: ''
  .col-md-2
    .panel.panel-default
      .panel-body
        = image_tag "whisky.jpg", class: 'img-responsive img-rounded', alt: ''
  .col-md-2
    .panel.panel-default
      .panel-body
        = image_tag "floor_a.jpg", class: 'img-responsive img-rounded', alt: ''
  .col-md-2
    .panel.panel-default
      .panel-body
        = image_tag "floor_b.jpg", class: 'img-responsive img-rounded', alt: ''
  .col-md-2
    .panel.panel-default
      .panel-body
        = image_tag "floor_c.jpg", class: 'img-responsive img-rounded', alt: ''

%p.text-center
  <!-- 横長1-1 -->
  = render partial: 'common/adsense', locals: {slot_id: 4877223498, w: 728, h: 90}

.row.mb50
  .col-md-2
    %ul.list-menu
      %li= link_to "#{fa_icon 'home'} Darts Bar Railly".html_safe, root_path
  .col-md-7
    .panel.panel-default
      .panel-heading
        %h2.panel-title.f18 トピックス
      .panel-body.pb0
        %table.table.mb0
          - @topics.each do |topic|
            %tr
              %td.col-md-2=l topic.publish_at.to_date, format: :topic
              %td= link_to topic.title, topic
      .panel-footer.text-right.bt-none
        = link_to 'more »', topics_path
  .col-md-3
    .panel
      = link_to image_tag("p_banner.png", size: '260x260'), parties_path

.row
  .col-md-2
    %ul.list-menu
      %li= link_to "#{fa_icon 'store-alt'} 店舗情報".html_safe, stores_path

  - @stores.each do |store|
    .col-md-7
      .panel.panel-default
        .panel-heading
          %h2.panel-title.f18= store.name
        .panel-body.pb0
          %div.f14{style: 'padding: 10px 10px 0;'}
            - if store.comming_soon?
              Comming soon...
            - else
              #{fa_icon 'map-marker'}
              = store.full_address
              %br
              #{fa_icon 'phone-square'}
              = store.tel
              %br
              #{fa_icon 'clock'}
              = store.opening_time
              \-
              = store.closing_time
        - unless store.comming_soon?
          .panel-footer.text-right.bt-none
            = link_to 'more »', store


.row
  .col-md-2
    %ul.list-menu
      %li= link_to "#{fa_icon 'book-open'} ブログ".html_safe, blogs_path

  .col-md-7
    .panel.panel-default
      .panel-heading
        %h2.panel-title #{fa_icon 'exclamation'} 新着#{Blog.model_name.human}
      .panel-body.pb0
        %table.table.mb0
          - @blogs.each do |blog|
            %tr
              %td
                %span.f10=l blog.publish_at
                %br
                = link_to blog.title, blog_path(blog)
      .panel-footer.text-right.bt-none
        = link_to 'more »', blogs_path

