- set_meta_tags site: "DartsBarRailly | 赤坂・溜池山王でダーツするならダーツバーレイリー", canonical: root_url,
  description: "赤坂駅徒歩2分のDarts Bar Railly(レイリー)。営業時間18:00〜29:00,DARTSLIVE2EXが3台,TouchLive1台,バーメイト1台!赤坂、溜池山王でダーツならRailly(レイリー)!会員登録することでお得にご利用いただけます。"

.eye-catch.mb20{style: "height: 240px"}
  .text-center.pt60.c-white
    %h1.mt0.mb20
      %span.f30 Darts Bar Railly
    %p.lead
      ダーツするならレイリーで

%p.text-center
  <!-- 横長1-1 -->
  = render partial: 'common/adsense', locals: {slot_id: 4877223498, w: 728, h: 90}

.row.mb50
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h2.panel-title.f18 トピックス
      .panel-body
        %table.table
          - @topics.each do |topic|
            %tr
              %td.col-md-2=l topic.publish_at.to_date, format: :topic
              %td= link_to topic.title, topic
      .panel-footer.text-right
        = link_to 'more »', topics_path
  .col-md-12
    - unless Rails.env.production?
      .panel.panel-default
        .panel-body{style: "height: 260.5px"}
          260.5x260.5

.row
  .col-md-12
    %ul.list-menu
      %li= link_to "#{fa_icon 'store-alt'} 店舗情報".html_safe, stores_path

  - @stores.each do |store|
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h2.panel-title.f18= store.name
        .panel-body
          %div.f14{style: 'padding: 10px;'}
            - if store.comming_soon?
              Comming soon...
            - else
              #{fa_icon 'map-marker'}
              = store.full_address
              %br
              #{fa_icon 'phone-square'}
              = store.tel
              %br
              #{fa_icon 'clock'}
              = store.opening_time
              \-
              = store.closing_time
        - unless store.comming_soon?
          .panel-footer.text-right
            = link_to 'more »', store

