- set_meta_tags site: "ダーツするならレイリーで | Welcome to #{t("site.name")}", canonical: root_url

.eye-catch.mb20
  .text-center.pt80.c-white
    %h1.mt0.mb20.f50 ダーツするならレイリーで
    %p.lead
      Welcome to #{t('site.name')}

%p.text-center
  <!-- 横長1-1 -->
  = render partial: 'common/adsense', locals: {slot_id: 4877223498, w: 728, h: 90}

.row.mb50
  .col-md-2
    %ul.list-menu
      %li= link_to "#{fa_icon 'home'} Darts Bar Railly".html_safe, root_path
  .col-md-7
    .panel.panel-default
      .panel-heading
        %h2.panel-title.f18 トピックス
      .panel-body
        %table.table
          - @topics.each do |topic|
            %tr
              %td.col-md-2=l topic.publish_at.to_date, format: :topic
              %td= link_to topic.title, topic
      .panel-footer.text-right
        = link_to 'more »', root_path
  .col-md-3
    - unless Rails.env.production?
      .panel.panel-default
        .panel-body{style: "height: 260.5px"}
          260.5x260.5

.row
  .col-md-2
    %ul.list-menu
      %li= link_to "#{fa_icon 'store-alt'} 店舗情報".html_safe, stores_path

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h2.panel-title.f18= "Railly 赤坂店"
      .panel-body
        %div.f14{style: 'padding: 10px;'}
          #{fa_icon 'map-marker'} 東京都港区赤坂2-14-8 赤坂SKビル3F-A
          %br
          #{fa_icon 'earphone'} 03-6807-4025
          %br
          #{fa_icon 'time'} 18:00 - 00:00
      .panel-footer.text-right
        = link_to 'more »', root_path

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title= "Railly 2号店"
      .panel-body
        %div.f14{style: 'padding: 10px;'}
          Comming soon...
      .panel-footer.text-right
        = link_to 'more »', root_path

