- set_meta_tags site: '株式会社ユア | あなたの想いを、全て形に', canonical: root_url

#carousel-topic.carousel.slide(data-ride="carousel" height="400px")
  %ol.carousel-indicators
    - @carousels.each.with_index do |carousel, i|
      %li.active(data-target="#carousel-topic" data-slide-to="#{i}")

  .carousel-inner(role="listbox")
    - @carousels.each do |carousel|
      .item.active
        = image_tag(carousel.carousel_img, alt: carousel.title)
        .carousel-caption
          %h3= carousel.title

  %a.left.carousel-control(href="#carousel-topic" role="button" data-slide="prev")
    %span(style="position: absolute; top: 50%;")= fa_icon 'chevron-left', style: "font-size: 30px;"
    %span.sr-only
      Previous
  %a.right.carousel-control(href="#carousel-topic" role="button" data-slide="next")
    %span(style="position: absolute; top: 50%;")= fa_icon 'chevron-right', style: "font-size: 30px;"
    %span.sr-only
      Next


.row
  .col-md-8
    %h2.f22.pa10.pb0
      トピックス
    %div.mb10(style="border-bottom: 2px solid #ddd")
    %table.table
      - @topics.each do |topic|
        %tr
          %td.pa15.pl20.col-md-2=l topic.publish_at.to_date, format: :topic
          %td.pa15.pl20= link_to topic.title, topic

  .col-md-4
    %h3.f22.pa10.pb0
      私たちの理念
    %div.mb10(style="border-bottom: 2px solid #ddd")
    %table.table
      %tr
        %td.pa15.pl20= link_to "» 企業理念", mission_path
      %tr
        %td.pa15.pl20= link_to "» 保育理念", policy_childcare_path

