- if topic = @carousels.shuffle.first
  %section.wide-list
    = link_to topic do
      = image_tag topic.carousel_img
      .title
        = topic.title

.col-md-12
  %h3.border-under
    トピックス
  %table.table
    - @topics.each do |topic|
      %tr
        %td.f11=l topic.publish_at.to_date, format: :topic
        %td= link_to topic.title, topic


.col-md-12
  %h4.border-under
    私たちの理念
  %table.table
    %tr
      %td= link_to "» 企業理念", mission_path
    %tr
      %td= link_to "» 保育理念", policy_childcare_path
