- set_meta_tags site: "Darts Bar Railly | 赤坂・溜池山王でダーツするならダーツバーレイリー", canonical: root_url,
  description: "赤坂駅徒歩2分のDarts Bar Railly(レイリー)。営業時間18:00〜29:00,DARTSLIVE2EXが3台,TouchLive1台,バーメイト1台!赤坂、溜池山王でダーツならRailly(レイリー)!会員登録することでお得にご利用いただけます。",
  og: {description: "赤坂駅徒歩2分のDarts Bar Railly(レイリー)。営業時間18:00〜29:00,DARTSLIVE2EXが3台,TouchLive1台,バーメイト1台!赤坂、溜池山王でダーツならRailly(レイリー)!会員登録することでお得にご利用いただけます。"},
  keywords: "赤坂,ダーツバー,Railly,レイリー,溜池山王,貸切,パーティ,投げ放題,ウィスキー,二次会,三次会"

- content_for(:jsonld) do
  = jsonld_script_tag

.eye-catch.mb20{style: "height: 240px"}
  .text-center.pt60.c-white
    %h1.mt0.mb20
      %span.f30 Darts Bar Railly
    %p.lead
      ダーツするならレイリーで

.row
  - @stores.each do |store|
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h2.panel-title.f18= store.name
        .panel-body.pb0
          %div.f14{style: 'padding: 10px 10px 0;'}
            - if store.comming_soon?
              Comming soon...
            - else
              #{fa_icon 'map-marker'}
              = store.full_address
              %br
              #{fa_icon 'phone-square'}
              = store.tel
              %br
              #{fa_icon 'clock'}
              = store.opening_time
              \-
              = store.closing_time
        - unless store.comming_soon?
          .panel-footer.text-right.bt-none
            = link_to 'more »', store


%p.text-center
  <!-- 横長1-1 -->
  = render partial: 'common/adsense', locals: {slot_id: 4877223498, w: 728, h: 90}

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h2.panel-title.f18 トピックス
      .panel-body.pb0
        %table.table.mb0
          - @topics.each do |topic|
            %tr
              %td.col-md-2=l topic.publish_at.to_date, format: :topic
              %td= link_to topic.title, topic
      .panel-footer.text-right.bt-none
        = link_to 'more »', topics_path

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h2.panel-title.f18 #{fa_icon 'exclamation'} 新着#{Blog.model_name.human}
      .panel-body.pb0
        %table.table.mb0
          - @blogs.each do |blog|
            %tr
              %td.col-md-2=l blog.publish_at.to_date, format: :topic
              %td= link_to blog.title, blog
      .panel-footer.text-right.bt-none
        = link_to 'more »', blogs_path

.row
  .col-md-12
    .text-center
      = link_to image_tag("p_banner.png", style: 'width: 90%'), parties_path
