- set_meta_tags site: "Darts Bar Railly | 赤坂・溜池山王でダーツするならダーツバーレイリー", canonical: root_url,
  description: "赤坂駅徒歩2分のDarts Bar Railly(レイリー)。営業時間18:00〜29:00,DARTSLIVE2EXが3台,TouchLive1台,バーメイト1台!赤坂、溜池山王でダーツならRailly(レイリー)!会員登録することでお得にご利用いただけます。",
  og: {description: "赤坂駅徒歩2分のDarts Bar Railly(レイリー)。営業時間18:00〜29:00,DARTSLIVE2EXが3台,TouchLive1台,バーメイト1台!赤坂、溜池山王でダーツならRailly(レイリー)!会員登録することでお得にご利用いただけます。"},
  keywords: "赤坂,ダーツバー,Railly,レイリー,溜池山王,貸切,パーティ,投げ放題,ウィスキー,二次会,三次会"

- content_for(:jsonld) do
  = jsonld_script_tag

.eye-catch.mb20{style: "height: 240px"}
  .text-center.pt60.c-white
    %h1.mt0.mb40
      %ruby
        %rb.f34 Darts
        %rt.f12 ダーツ
      %ruby
        %rb.f34 Bar
        %rt.f12 バー
      %ruby
        %rb.f34 Railly
        %rt.f12 レイリー
    %p.lead
      ダーツするならレイリーで

.row
  - @stores.each do |store|
    .col-12
      .card.mb30
        .card-header.f16= store.name
        .card-body.pa0
          %ul.list-group.list-group-flush
            %li.list-group-item
              - if store.comming_soon?
                Comming soon...
              - else
                #{fa_icon 'map-marker'}
                = store.full_address
                %br
                #{fa_icon 'phone-square'}
                = store.tel
                %br
                #{fa_icon 'clock'}
                = store.opening_time
                \-
                = store.closing_time
            - unless store.comming_soon?
              %li.list-group-item.text-right.bt-none
                = link_to 'more »', store

.row
  %p.text-center
    <!-- 横長1-1 -->
    = render partial: 'common/adsense', locals: {slot_id: 4877223498, w: 728, h: 90}

.row
  .col-12
    .card.mb30
      .card-header.f16 トピックス
      .card-body.pb0
        %ul.list-group.list-group-flush
          - @topics.each do |topic|
            %li.list-group-item
              %span.card-link
                =l topic.publish_at.to_date, format: :topic
              %span.card-link
                = link_to topic.title, topic
          %li.list-group-item.text-right
            = link_to 'more »', topics_path

.row
  .col-12
    .card.mb30
      .card-header.f16 #{fa_icon 'exclamation'} 新着#{Blog.model_name.human}
      .card-body.pb0
        %ul.list-group.list-group-flush
          - @blogs.each do |blog|
            %li.list-group-item
              .f10
                =l blog.publish_at
              .card-link
                = link_to blog.title, blog_path(blog)
          %li.list-group-item.text-right
            = link_to 'more »', blogs_path

.row
  .col-md-12
    .text-center
      = link_to image_tag("p_banner.png", style: 'width: 90%'), parties_path
