- set_meta_tags site: "株式会社オルブル | 喜怒哀楽が創出される場を提供し、あなたの想い出を創造していく会社です。", canonical: root_url,
  description: "赤坂駅徒歩2分のDarts Bar Railly(レイリー)や大宮駅徒歩3分のcafe&bar LOCKSTOCK(ロックストック)を展開しています。システム開発の受託も承っております。お問い合わせはお気軽にどうぞ！",
  og: {description: "赤坂駅徒歩2分のDarts Bar Railly(レイリー)や大宮駅徒歩3分のcafe&bar LOCKSTOCK(ロックストック)を展開しています。システム開発の受託も承っております。お問い合わせはお気軽にどうぞ！"},
  keywords: "ダーツ,ダーツバー,赤坂,大宮,ロックストック,レイリー,darts,dartsbar,LOCKSTOCK,Railly,埼玉県,溜池山王,赤坂見附,六本木,貸切,パーティ,投げ放題,ウィスキー,ハイボール,二次会,三次会"

- content_for(:jsonld) do
  = jsonld_script_tag


.eye-catch.mb20{style: "height: 240px"}
  .text-center.pt60.c-white
    %h1.mt0.mb40
      %ruby
        %rb.f30(style="font-family: Nixie One") ALBULL Inc
        %rt.f14 株式会社 オルブル
    %p.lead.f16
      喜怒哀楽が創出される場を提供し、
      %br
      あなたの想い出を創造していく会社です。

.row
  .col-12
    %ul.list-menu
      %li= link_to "#{fa_icon 'bell'} トピックス".html_safe, topics_path
.row
  .col-12
    .card.mb30
      .card-header.f16 弊社から最新お知らせ
      .card-body.pa0
        %ul.list-group.list-group-flush
          - @topics.each do |topic|
            %li.list-group-item
              %span.card-link
                =l topic.publish_at.to_date, format: :topic
              %span.card-link
                = link_to topic.title, topic
          %li.list-group-item.text-right
            = link_to 'more »', topics_path

.row
  .col-12
    %ul.list-menu
      %li= link_to "#{fa_icon 'store-alt'} 店舗情報".html_safe, stores_path
.row
  - @stores.each do |store|
    .col-12
      .card.mb30
        .card-header.f16= store.name
        .card-body.pa0
          %ul.list-group.list-group-flush
            %li.list-group-item
              #{fa_icon 'map-marker'}
              = store.full_address
              %br
              #{fa_icon 'phone-square'}
              = store.tel
              %br
              #{fa_icon 'clock'}
              = store.opening_time
              \-
              = store.closing_time

- if false
  .row
    %p.text-center
      <!-- 横長1-1 -->
      = render partial: 'common/adsense', locals: {slot_id: 4877223498, w: 728, h: 90}

.row
  .col-12
    %ul.list-menu
      %li= link_to "#{fa_icon 'book-open'} ALBULL Blog".html_safe, blogs_path
.row
  .col-12
    .card.mb30
      .card-header.f16 #{fa_icon 'exclamation'} 新着#{Blog.model_name.human}
      .card-body.pb0
        %ul.list-group.list-group-flush
          - @blogs.each do |blog|
            %li.list-group-item
              .f10
                =l blog.publish_at
              .card-link
                = link_to blog.title, blog_path(blog)
          %li.list-group-item.text-right
            = link_to 'more »', blogs_path

.row
  .col-md-12
    .text-center
