.row
  .offset-md-2
  .col.col-md-8
    %h1.mb20
      = @workplace.name
      打刻ページ

    %h3


    .row.no-gutters.border-bottom.pb10
      .col-2.col-md-2
        = Staff.human_attribute_name :code
      .col
        = Staff.human_attribute_name :name
      .col-5

    - @staffs.each do |staff|
      .row.no-gutters.align-items-center.border-bottom.mt10.pb10
        .col-2.col-md-2
          = staff.code
        .col
          %ruby
            %rb
              #{staff.last_name}
            %rt
              #{staff.last_kana}
          %ruby
            %rb
              #{staff.first_name}
            %rt
              #{staff.first_kana}
        .col-4.col-sm-6.col-lg-5
          .row.no-gutters
            .col.t-center
              = form_for @stamp, url: intra_stamper_path do |f|
                = f.hidden_field :workplace_id, value: @workplace.id
                = f.hidden_field :staff_id, value: staff.id
                = f.button "出勤", class: "btn btn-success pl30 pr30 stamping", data: {type: StampedType::WORKING_START}
              .row
                .col
                  = l(@dailies[staff.id].work_start_at, format: :mdhm) if @dailies[staff.id]&.work_start_at
            .col.t-center
              = form_for @stamp, url: intra_stamper_path do |f|
                = f.hidden_field :workplace_id, value: @workplace.id
                = f.hidden_field :staff_id, value: staff.id
                = f.button "退勤", class: "btn btn-danger pl30 pr30 stamping", data: {type: StampedType::WORKING_END}
              .row
                .col
                  = l(@dailies[staff.id].work_end_at, format: :mdhm) if @dailies[staff.id]&.work_end_at


    = form_for @stamp, url: intra_stamper_path do |f|
      .row.no-gutters.align-items-center.border-bottom.mt10.pb10
        .col
          = text_field_tag :code, "", class: "form-control", placeholder: "スタッフコードを入力"
        .col-4.col-sm-6.col-lg-5
          .row.no-gutters
            .col.t-center
              = f.hidden_field :workplace_id, value: @workplace.id
              = f.button "出勤", class: "btn btn-success pl30 pr30 stamping", data: {type: StampedType::WORKING_START}
            .row
              .col
                
            .col.t-center
              = f.button "退勤", class: "btn btn-danger pl30 pr30 stamping", data: {type: StampedType::WORKING_END}
              .row
                .col
                  

