%h1= t('Listing', title: Child.model_name.human)

%table.table
  %thead
    %tr
      %th= Child.human_attribute_name(:place)
      %th= Child.human_attribute_name(:no)
      %th= Child.human_attribute_name(:family_code)
      %th= Child.human_attribute_name(:full_name)
      %th= Child.human_attribute_name(:birthday)
      %th

  %tbody
    - @children.each do |child|
      %tr
        %td= child.place.name
        %td= child.no
        %td= child.family.decrypt_code
        %td= child.full_name
        %td= l child.birthday
        %td
          = link_to 'Show', [:cms, child], class: "btn btn-info"
          = link_to 'Edit', edit_cms_child_path(child), class: "btn btn-warning"

.t-center
  = paginate @children

= link_to 'New Child', new_cms_child_path, class: "btn btn-primary"
