%h1 Listing organizations

%table.table
  %thead
    %tr
      %th Name
      %th Address
      %th Tel
      %th Fax
      %th
      %th
      %th

  %tbody
    - @organizations.each do |organization|
      %tr
        %td= organization.name
        %td= organization.address
        %td= organization.tel
        %td= organization.fax
        %td= link_to 'Show', [:cms,organization]
        %td= link_to 'Edit', edit_cms_organization_path(organization)
        %td= link_to 'Destroy', [:cms,organization], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Organization', new_cms_organization_path
