.row
  .offset-sm-1
  .col.col-sm-10
    %h1.f20.mb20
      = @staff.code
      = @staff.name
      打刻実績

    %h3.f18.t-center
      = link_to "«", intra_organization_staff_stamps_path(@organization, @staff, @monthly.prev_year, @monthly.prev_month)
      %span.ml20.mr20
        = l @monthly.date, format: :ym
        ( #{l @monthly.first_day} - #{l @monthly.last_day} )
      = link_to "»", intra_organization_staff_stamps_path(@organization, @staff, @monthly.next_year, @monthly.next_month)

    .row
      %table.table.t-center
        %tr
          %td 合計
          %td
          %td
          %td
          %td
          %td.border-left
            = @monthly.worked_hm
            %br
            %span.f10= (@monthly.worked_sec / 1.hour).ceil(2)
          %td
            = @monthly.fixed_hm
            %br
            %span.f10= (@monthly.fixed_sec / 1.hour).ceil(2)
          %td
            = @monthly.overtime_hm
            %br
            %span.f10= (@monthly.overtime_sec / 1.hour).ceil(2)
          %td
            = @monthly.midnight_hm
            %br
            %span.f10= (@monthly.midnight_sec / 1.hour).ceil(2)
        %tr{style: "background-color: #eee"}
          %th 日付
          %th 出勤
          %th 退勤
          %th 休開
          %th 休終
          %th.border-left 実働
          %th 所定
          %th 残業
          %th 深夜
        - @monthly.stamped_dailies.each do |s|
          %tr
            %td= link_to l(s.date, format: :md), ymd_intra_organization_staff_stamps_path(@organization, @staff, s.date.ymd)
            %td= s.work_start_at ? l(s.work_start_at, format: :hm) : ""
            %td= s.work_end_at ? l(s.work_end_at, format: :hm) : ""
            %td= s.rest_start_at ? l(s.rest_start_at, format: :hm) : ""
            %td= s.rest_end_at ? l(s.rest_end_at, format: :hm) : ""
            %td.border-left= s.worked_hm
            %td= s.fixed_hm
            %td= s.overtime_hm
            %td= s.midnight_hm

    .row
      = link_to "打刻追加", new_intra_organization_stamped_each_path(@organization), class: "btn btn-info"
    .row
      = link_to "«組織ページに戻る", intra_organization_path(@organization)
