- set_meta_tags title: "#{@place.name}の写真一覧", noindex: true

.l-body
  %header.l-header
    %h1.l-header__heading
      = link_to place_url(@place) do
        %span.l-header__title--top= @place.organization.name
        %span.l-header__title--bottom= @place.name
  %main
    %div{style: "margin-top: 20px;"}
    -# 写真
    %section#section-3.p-staff
      .p-staff__container.p-container
        .p-staff__header
          %h2.c-heading{"data-heading" => "photo"}
            - if @months
              利用月選択
            - else
              お子さまの写真
        - if @months
          %ul.p-staff__list
            - if @months.empty?
              .t-center
                閲覧できる写真がまだありません＞＜
                写真が準備できるまでしばらくお待ちくださいm(_ _)m
            - @months.each do |month|
              - next if month.photos.empty?
              %li
                .c-staff
                  .c-staff__image
                    = link_to place_photos_path(@place, ym: month.ym) do
                      = image_tag(month.photos.joins(:places).where(places: {id: @place.id}).last.image.thumb('180x180#').url)
                  %dl.c-staff__description
                    %dt
                      %span.c-staff__name= month.title
          .t-center
            = paginate @months

        - if @month
          %ul.p-staff__list
            - @photos.each do |photo|
              %li
                .c-staff
                  .c-staff__image
                    = link_to photo.image.thumb('1125x2001').url, target: :_blank do
                      = image_tag(photo.image.thumb('180x180#').url, data: {pid: photo.id})
                  -# %dl.c-staff__description
                    -# %dt
                      %span.c-staff__name 川口 花子
                    -# %dd
                      毎日子どもと一緒に成長しています。
          .t-center
            = paginate @photos
          .t-left.ml50
            = link_to "«利用月選択へ", place_photos_path(@place)
    -#/写真

    -# 保育目標
    %section#section-2.p-vision.mt50
      .p-vision__container.p-container
        .p-vision__header
          %h2.c-heading{"data-heading" => "vision"} 保育目標
          %p.p-vision__lead "その子らしさ"を尊重し、想いが溢れる子ども達を育てます
        .p-vision__header
          %p.p-vision__lead 目標に向かって、3つの「想い」を大切にした保育を行います
        %ul.p-vision__list
          %li
            .c-vision
              %dl.c-vision__description
                %dt.c-vision__title 想いつき
                %dd 人と人との繋がりを大切にし、自分を大切にしながらも他人を優先できる人になれるよう、優しさ、親切心、想いやりの心を育みます。
          %li
            .c-vision
              %dl.c-vision__description
                %dt.c-vision__title 想い出
                %dd 幼少期に育まれた全てのことを、物、形、記憶として次世代へ繋げていける保育を目指します。
          %li
            .c-vision
              %dl.c-vision__description
                %dt.c-vision__title 想いやり
                %dd 様々な保育の活動を通じ、見て、触れて、感じて、子どもたちの想いつきや、ひらめき、想像力を育みます。
    -#/保育目標
    -# 保育士紹介
      %section#section-3.p-staff
        .p-staff__container.p-container
          .p-staff__header
            %h2.c-heading{"data-heading" => "staff"} 保育士紹介
          %ul.p-staff__list
            %li
              .c-staff
                .c-staff__image
                  %img{:alt => "川口花子", :src => "//placehold.it/180"}/
                %dl.c-staff__description
                  %dt
                    %span.c-staff__name> 川口 花子
                    （保育士歴3年）
                  %dd
                    毎日子どもと一緒に成長しています。
                    %br/
                    ここに保育に対する想いなど。
                    %br/
                    ここに保育に対する想いなど。
            %li
              .c-staff
                .c-staff__image
                  %img{:alt => "川口花子", :src => "//placehold.it/180"}/
                %dl.c-staff__description
                  %dt
                    %span.c-staff__name> 川口 花子
                    （保育士歴3年）
                  %dd
                    毎日子どもと一緒に成長しています。
                    %br/
                    ここに保育に対する想いなど。
                    %br/
                    ここに保育に対する想いなど。
            %li
              .c-staff
                .c-staff__image
                  %img{:alt => "川口花子", :src => "//placehold.it/180"}/
                %dl.c-staff__description
                  %dt
                    %span.c-staff__name> 川口 花子
                    （保育士歴3年）
                  %dd
                    毎日子どもと一緒に成長しています。
                    %br/
                    ここに保育に対する想いなど。
                    %br/
                    ここに保育に対する想いなど。
    -#/保育士紹介
    -# アクセス
    %section#section-4.p-access
      .p-access__container.p-container
        .p-access__top
          .p-access__header
            %h2.p-access__heading.c-heading{"data-heading" => "access"} アクセス
          %dl.p-access__description
            %dt= @place.name
            %dd= @place.address
        #js-map.p-access__map{let: @place.let, lng: @place.lng}
        %p.p-access__link
          %a{href: @place.gmap_url, target: "_blank"} 大きな地図で見る
    -#/アクセス
  -#/main

  %footer.l-footer
    .l-footer__container.p-container
      %ul.l-footer__list
        %li= link_to 'プライバシーポリシー', policy_privacy_url
        %li= link_to '利用規約', terms_url
        %li= link_to '運営会社', about_us_url
        %li= link_to 'お問合せ', new_inquiry_url
      %small.l-footer__copyright &copy; Your Corp. All rights reserved.
