- set_meta_tags title: "#{@recruit.title}", description: "DartsBarRaillyでは「#{@recruit.title}」でスタッフを募集しております。少しでも興味がある場合はお気軽にエントリーください。"

.col-md-2

.col-md-8

  %h1.f14= @recruit.title

  = render @recruit

  .actions.t-center
    - if @recruit.application?(current_account)
      #{Entry.model_name.human}済みです
    - else
      = link_to 'このお仕事に応募する', new_recruit_entry_path(@recruit), class: 'btn btn-primary', rel: :nofollow

  .links.mt10
    = link_to '« 一覧へ戻る', recruits_path

.col-md-2
