- set_meta_tags title: "#{Place.model_name.human}一覧",
  description: '私たち株式会社ユアが、「あなたの想いは、全て形に」の企業理念と、「「その子らしさ」を尊重し、想いが溢れる子ども達を育てます」の保育目標のもと、保育の運営を行っている施設一覧です。'

.col-md-2

.col-md-8
  %h1.f28
    #{Place.model_name.human}一覧

  .places_msg.mb30
    私たち株式会社ユアは、「「その子らしさ」を尊重し、想いが溢れる子ども達を育てます」を保育目標に、３つの想いを大切にした保育の運営を下記の施設で行っています。

  %table.table
    %thead
      %tr
        %th 施設名
        %th 開園日
        %th 定員
        %th 所在地
    %tbody
      - @places.each do |place|
        %tr
          %td= link_to place.name, place
          %td= place.opened_on ? l(place.opened_on) : ""
          %td.t-right
            = place.capacity
            %span.f10 人
          %td= place.address
