%section#header.navbar.navbar-default(role="navigation")
  .container
    .navbar-header
      %a#logo.navbar-brand(href=root_path)= image_tag('layout/header/logo.png', alt: '株式会社ユア')
    .collapse.navbar-collapse#navbar-collapse
      %ul.nav.navbar-nav.navbar-right.ml30.mt25
        // %span
        //   = link_to 'https://www.facebook.com/1596482943975074/', class: "", rel: :nofollow, target: :_blank do
        //     = fa_icon 'facebook-square 2x'
        // %span
        //   = link_to 'https://twitter.com/yourcorp', class: "", rel: :nofollow, target: :_blank do
        //     = fa_icon 'twitter-square 2x'
        // %span
        //   = link_to 'https://www.instagram.com/yourcorp/', class: "", rel: :nofollow, target: :_blank do
        //     = fa_icon 'instagram 2x'
        %span.ml15
          - if account_signed_in?
            - if params[:controller] == "profiles"
              = link_to destroy_account_session_path, method: :delete, class: "", title: 'ログアウト', rel: :nofollow do
                = fa_icon 'sign-out 2x'
            - else
              = link_to profile_path, class: "", title: 'マイページ', rel: :nofollow do
                = fa_icon 'home 2x'
          - else
            = link_to new_account_session_path, class: "", title: 'ログイン', rel: :nofollow do
              = fa_icon 'sign-in 2x'

      %ul.nav.navbar-nav.navbar-right
        %li.mr50
          = link_to '会社概要', about_us_path
        %li.mr50
          = link_to '採用情報', recruits_path
        %li.mr50
          = link_to 'お問合せ', new_inquiry_path
