=render partial: 'common/fb_root'
%header#top-header
  .wrapper
    %h1
      %a.brand(href=root_path)
        = image_tag('layout/header/logo.png', alt: '株式会社ユア')
        %span.f10= "- #{t('site.mission')} -"
    - if account_signed_in?
      - if params[:controller] == "profiles"
        = link_to fa_icon('sign-out'), destroy_account_session_path, method: :delete, class: "links logout"
      - else
        = link_to fa_icon('home'), profile_path, class: "links mypage"
    - else
      = link_to fa_icon('sign-in'), new_account_session_path, class: "links login"
