.want-push.text-center.mb20.f12{style: "display: none;"}
  = link_to "このサイトの最新情報を受け取る", "#", onclick: "return false;"

.text-center.mb10.n-ml10
  .fb-page(data-href="https://www.facebook.com/#{snsids[:fb]}" data-show-faces="true" data-width="320")

%footer
  %ul.footer-link.f12.mb5.pt5
    %li= link_to '利用規約', terms_path
    %li{style: "width: 46%"}= link_to 'プライバシーポリシー', policy_privacy_path
    %li= link_to 'お問合せ', new_inquiry_path
  %ul.footer-link.f12.mb5.pt5
    %li{style: "width: 95%"}= link_to '特定商取引法に基づく表記', law_path

  .pb5.t-center
    = link_to "&copy;ALBULL Inc.".html_safe, 'https://albull.co.jp', style: "color: #333;", target: :_blank
