%footer
  .row
    .col-md-3
      = link_to "プライバシーポリシー", policy_privacy_path
      %br
      = link_to "利用規約", terms_path
      %br
      = link_to "特定商取引法に基づく表記", law_path
      %br
      = link_to "お問い合わせ".html_safe, new_inquiry_path
      %br
      %br
      %span.f10 #{fa_icon 'external-link-alt'}
      = link_to "Instagram", "https://www.instagram.com/#{t('sns.instagram.id')}", target: '_blank'
      %br
      %span.f10 #{fa_icon 'external-link-alt'}
      = link_to "Facebook", "https://www.facebook.com/#{t('sns.facebook.id')}", target: '_blank'
      %br
      %span.f10 #{fa_icon 'external-link-alt'}
      = link_to "Twitter", "https://twitter.com/#{t('sns.twitter.id')}", target: '_blank'
      %br
      %br
      = link_to "&copy;ALBULL Inc.".html_safe, 'https://albull.co.jp', style: "color: #333;", target: :_blank
    .col-md-6
      .fb-page(data-href="https://business.facebook.com/#{@fb_id}/" data-width="500" data-hide-cover="false" data-show-facepile="true" data-show-posts="false")
        .fb-xfbml-parse-ignore
          %blockquote(cite="https://www.facebook.com/#{@fb_id}")
            %a(href="https://www.facebook.com/#{@fb_id}")
              = @fb_id
    .col-md-3.feedback
      %small #{t('site.name')}にご意見をお願いします
      %form
        %textarea.form-control(rows="5")
        %input.btn.btn-outline-dark.btn-light.btn-sm.btn-block(type="submit" value="意見を送信する")
