
= render partial: 'common/fb_root'
%nav.navbar.navbar-expand-md.navbar-light.bg-light.pa0.mb20
  .container
    %a.navbar-brand(href="#{store_path(@store.pkey)}")= image_tag(asset_url("layout/header/#{@store.pkey}.png"), alt: t('site.name'))
    %button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation")
      %span.navbar-toggler-icon

    .collapse.navbar-collapse.ml20#navbar-collapse
      %ul.nav.navbar-nav.mr-auto
        //%li= link_to "#{fa_icon 'file-alt'} メニュー".html_safe, menu_path
        %li.nav-item= link_to "#{fa_icon 'cocktail'} パーティー".html_safe, store_parties_path(@store.pkey), class: "nav-link"
        %li.nav-item= link_to "#{fa_icon 'credit-card'} 月額プラン".html_safe, plans_path, class: "nav-link"
        //%li= link_to "#{fa_icon 'newspaper'} 求人情報".html_safe, recruits_path
      %ul.navbar-nav
        %li.nav-item= link_to "#{fa_icon 'door-open'} お問い合わせ".html_safe, new_inquiry_path(concern: 5), class: "nav-link"

        - if account_signed_in?
          %li.nav-item{style: 'float: left'}
            = link_to "#{image_tag(current_account.gravatar_url, size: "20x20", class: "circle-thumb")} ".html_safe + current_account.disp_nickname.mb_chars.limit(23).to_s, profile_path, class: "nav-link"
          %li.nav-item
            = link_to fa_icon('cog'), edit_profile_path, class: "link-color nav-link"
          %li.nav-item
            = link_to "#{fa_icon 'sign-out-alt'}".html_safe, destroy_account_session_path, method: :delete, class: "nav-link"
        - else
          %li.nav-item
            = link_to "#{fa_icon 'sign-in-alt'} Log in".html_safe, new_account_session_path, class: "nav-link"
