!!! 5
%html(lang="ja")
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    = render partial: 'layouts/meta_tags'
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'
    %script{src: "https://platform.twitter.com/widgets.js", async: true}
    %link(rel="manifest" href="/manifest.json")

  %body
    = render partial: 'layouts/header'
    - if notice || alert
      - if notice
        %p#notice= notice
      - if alert
        %p#alert= alert

    %section#main_contents
      = yield

    = render 'layouts/footer'

    = javascript_include_tag "application", "data-turbolinks-track" => true
