!!! 5
%html(lang="ja")
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    = render partial: 'layouts/meta_tags'
    = csrf_meta_tags
    = stylesheet_link_tag "sp/application", :media => "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "https://use.fontawesome.com/releases/v5.3.1/css/all.css", :media => "all", "data-turbolinks-track" => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Cabin'
    = favicon_link_tag '/favicon.ico', rel: 'shortcut icon'

    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{src: "https://platform.twitter.com/widgets.js", async: true}
    %script{src: "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", async: true}
    %link(rel="manifest" href="/manifest.json")

  %body{data: {"signed-in": account_signed_in? ? "t" : "f"}}
    = render partial: 'layouts/header'
    = render partial: 'common/breadcrumbs', locals: {elements: @breadcrumbs} if @breadcrumbs.present?

    .main
      .container
        = bootstrap_flash

        = yield

    .footer
      .container
        = render 'layouts/footer'
