!!! 5
%html(lang="ja")
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    = render partial: 'layouts/meta_tags'
    = csrf_meta_tags
    = stylesheet_link_tag "sp/application", :media => "all", "data-turbolinks-track" => true
    = render partial: 'layouts/meta_tags'
    %script{src: "https://platform.twitter.com/widgets.js"}
    %script{src: "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", async: true}
    %link(rel="manifest" href="/manifest.json")

  %body
    = render partial: 'layouts/snippet'
    = render partial: 'layouts/header'
    .page-wrapper
      - if notice || alert
        - if notice
          %p#notice= notice
        - if alert
          %p#alert= alert

      %section#main_contents
        = yield

      = render 'layouts/footer'

    = javascript_include_tag "application", "data-turbolinks-track" => true
