!!! 5
%html(lang="ja")
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    = render partial: 'layouts/meta_tags'
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'
    %script{src: "https://platform.twitter.com/widgets.js", async: true}
    %link(rel="manifest" href="/manifest.json")

  %body
    = render partial: 'layouts/snippet'
    = render partial: 'layouts/header'
    %section#main_contents
      - if notice || alert || flash.success
        - if flash.success
          %p.alert.alert-success= flash.success
        - if notice
          %p.alert.alert-warning= notice
        - if alert
          %p.alert.alert-danger= alert

      = yield

    = render 'layouts/footer'

    = javascript_include_tag "application", "data-turbolinks-track" => true
