!!! 5
%html(lang="ja")
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    = render partial: 'layouts/meta_tags'
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "https://use.fontawesome.com/releases/v5.3.1/css/all.css", :media => "all", "data-turbolinks-track" => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Cabin'
    = favicon_link_tag '/favicon.ico', rel: 'shortcut icon'
    %link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    %link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    %link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    %link(rel="manifest" href="/site.webmanifest")
    %link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    %meta(name="apple-mobile-web-app-title" content="Railly")
    %meta(name="application-name" content="Darts Bar Railly")
    %meta(name="msapplication-TileColor" content="#ffc40d")
    %meta(name="theme-color" content="#ffffff")

    = render partial: 'common/gtm'
    %script{src: "https://platform.twitter.com/widgets.js", async: true}
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link(rel="manifest" href="/manifest.json")
    = yield :jsonld

  %body{data: {"signed-in": account_signed_in? ? "t" : "f"}}
    = render partial: 'layouts/store_header'
    = render partial: 'common/breadcrumbs', locals: {elements: @breadcrumbs} if @breadcrumbs.present?

    .main
      .container
        - flash.each do |key, msg|
          - key = "success" if key == "notice"
          - key = "warning"  if key == "alert"
          = content_tag :div, msg.html_safe, class: "alert alert-#{key}"

        = yield

    .footer
      .container
        = render 'layouts/footer'
